@import url('https://fonts.googleapis.com/css2?family=Honk&family=Modak&family=Rubik+Dirt&display=swap');
*
{
    margin: 0;
    padding: 0;
}

html,
body,
.startScene
{
    overflow: hidden;
    height: 100vh;
    background: border-box no-repeat center url('../static/start/start.jpg') ;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.startScene {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gameTitle {
    margin-bottom: 30px;
    font-family: "Honk", system-ui;
    font-weight: 700;
    font-size: 120px;
    font-style: normal;
    color: white;
    text-align: center;
}

.scoreboard {
    text-align: left;
    margin-bottom: 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
}

.scoreboard h3 {
    margin-bottom: 10px;
    font-size: 30px;
    font-family: "Rubik Dirt", system-ui;
}

.score-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.score-container + .score-container {
    margin-top: 10px;
}

#startButton {
    font-size: 50px;
    cursor: pointer;
    z-index: 10;
    cursor: pointer;
    font-family: "Modak", system-ui;
    background: none;
    border:none;
    color: white;
}

#startButton:hover {
    background: linear-gradient(to bottom, #FFFFBD, #F5BF7A, #EF8387, #FF5CBA);
    color: transparent;
    -webkit-background-clip: text;
    transition: transform 0.3s ease-out;
}

#score {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    color: white;
    font-family: "Rubik Dirt", system-ui;
    z-index: 100;
}

