*
{
    margin: 0;
    padding: 0;
}

html,
body,
.startScene
{
    overflow: hidden;
    height: 100vh;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.startScene {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gameTitle {
    margin-bottom: 30px;
}

.scoreboard {
    text-align: left;
    margin-bottom: 30px;
}

.scoreboard h3 {
    margin-bottom: 10px;

}

#startButton {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #FFF7AA;
    color: #695f06;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10;
    transition: background-color 0.3s ease;
}

#score {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    color: #ffffff;
    font-family: Arial, sans-serif;
    z-index: 100;
}
